.fondo {
    background: url(../../image/Landinground.webp) no-repeat center fixed;
    background-size: 1080px 540px;
    background-position: center center;
    height: 105vh;
    width: 108vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 75vh;
    height: 10vh;
    margin-top: 2vh;
    margin-left: 15em;
    transition: 0.5s linear;
    font-size: 43px;
    text-align: center;
    background: transparent;
    font-family:cursive;
    font-weight: 600;
    color: rgb(240,250,175);
    cursor: pointer;
    border: none;
}

.box:hover {
    color: rgb(196, 156, 24);
}
