.search {
    display: flex;
    justify-content: center;
}
.input {
    background-color:rgb(43, 43, 43);
    border: ridge 2px goldenrod;
    outline: none;
    padding: 7px 22px;
}
.btn {
    background-color:rgb(43, 43, 43);
    color: rgba(219, 204, 204, 0.724);
    cursor: pointer;
    border-radius: 22px;
    margin-top: 1rem;
    padding: 3px;
    border: ridge 2px goldenrod;
    transition: 0.4s linear;
}
.btn:hover {
    color: rgb(0, 0, 0);
    background-color: darkgray
}
